@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");
div.news-container {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

div.news-container div.title {
  grid-column-start: 1;
  grid-column-end: -1;
  border-bottom: 1px solid black;
  text-align: center;
}

div.news-container div.title .news-title {
  font-size: 1.2rem;
  margin: 10px 0px;
}

div.news-container div.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

div.news-container div.news div.new {
  align-self: center;
}

div.news-container div.news div.new img {
  width: 100%;
}

div.news-container div.news div.new .publ-date {
  text-align: right;
  margin: 5px 0;
  font-weight: 600;
  font-style: italic;
  font-size: 0.8rem;
}

div.news-container div.news div.new .new-title {
  text-align: left;
  font-size: 1.2rem;
}

div.news-container .clickable {
  transition: all 0.3s;
}

div.news-container .clickable:hover {
  cursor: pointer;
  opacity: 0.75;
}

@media screen and (min-width: 481px) {
  div.news-container div.title {
    text-align: left;
  }
  div.news-container div.title .news-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 791px) {
  div.news-container div.title .news-title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1120px) {
  div.news-container div.title .news-title {
    font-size: 1.7rem;
  }
  div.news-container div.new {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
}
