@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');


div.news-container {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    div.title {
        grid-column-start: 1;
        grid-column-end: -1;
        
        border-bottom: 1px solid black;
        text-align: center;

        & .news-title {
            font-size: 1.2rem;
            margin: 10px 0px;
        }
    }
    
    & div.news {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        & div.new {
            align-self: center;
            & img {
                width: 100%;
            }

            & .publ-date {
                text-align: right;
                margin: 5px 0;
                font-weight: 600;
                font-style: italic;
                font-size: 0.8rem;
            }

            & .new-title {
                text-align: left;
                font-size: 1.2rem;
            }


        }
    }

    & .clickable {
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 0.75;
        }
    }
    
}

@media screen and (min-width: 481px) {
    div.news-container {
        
        div.title {
            text-align: left;
            & .news-title {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 791px) {
    div.news-container {
        div.title {

            & .news-title {
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (min-width: 1120px) {
    div.news-container {
        div.title {

            & .news-title {
                font-size: 1.7rem;
            }
        }

        & div.new {
            grid-template-columns: repeat(3,1fr);
            grid-auto-flow: dense;
        }
    }
}